<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ListDiff" version="1.1.28" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="ssdp" version="1.1.1.0" targetFramework="net452" />
  <package id="Xwt" version="0.2.225" targetFramework="net472" />
  <package id="Xwt.Gtk" version="0.2.225" targetFramework="net472" />
</packages>